body {
    font-family: 'Comic Sans MS', sans-serif;/*Tipo de Letra*/
    margin: 0;
    padding: 0;
    background-color: #FFEBEE;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #FF8A80;/*Color de Fondo*/
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    text-align: center;/*alinea el texto*/
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #FF5252;
    font-weight: bold;
}

section {
    padding: 20px;
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    flex: 1; /* Ocupa el espacio disponible */
}
.cuentos-section {
    margin-top: 20px;
}
.cuento {
    background-color: #FFF3E0;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}
.cuento h3 {
    color: #D32F2F;
}

.cuento img {
    width: 100%;          /* La imagen ocupa el ancho del div */
    height: auto;         /* Mantiene la proporción de la imagen */
    border-radius: 10px;  /* Bordes redondeados */
    margin-bottom: 10px;  /* Espacio debajo de la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

